.features-container {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, #b7904d, #3a2a1e);
    padding: 20px;
    color: white;
  }
  
  .feature-item {
    text-align: center;
    max-width: 200px;
  }
  
  .feature-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  p {
    font-size: 14px;
    color: #ddd;
  }
  